
	body{
		background-image:url('../img/background.png');
	}
	
	#cabecera{			
		position: absolute;
		width: 100%;
		height: 20%;		
	}
	
	#cabecera #mensaje{
		margin-top: 1%;
		width: 100%;
		position: absolute;		
	}	
	#cabecera h1{		
		margin-top: 2%;
		margin-left: 2%;
		text-shadow: 0 0 0.2em gray, 0 0 0.2em gray, 0 0 0.2em black;
	}	
	#cabecera label{
		text-shadow: 0 0 0.2em gray, 0 0 0.2em gray;
		font-size: 60%;
	}
	
	#contadorUnidades{font-size: 1.2em;}
/* :: Columna del Contador de Unidades
---------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------*/

	#seccionUno{		
		position: absolute;
		height: 80%;
		width: 10%;
		top: 20%;
	}	

	#contadorUnidades{
		width: 60%;
		height: 5%;
		margin-top: 5%;
		padding-right: 10%;
		float: center;
		background: #ccc;
		text-align: right;
		padding-top: 10px;
		transition:width 0.5s;
		-moz-transition:width 0.5s;
		-webkit-transition:width 0.5s;			
	}

	#contadorUnidades:hover{width: 85%;}

/* :: Columna de las Unidades Restantes
---------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------*/

	#seccionDos{		
		position: absolute;
		height: 80%;
		width: 12%;
		top: 20%;
		left: 10%;
	}

	#seccionDos h4{
		font-family: "Arial Rounded MT Bold", Monaco, monospace;
		font-size: 150%;
		text-align: left;
		color: black;
	}
	
	#seccionDos p{
		font-family: "Arial Rounded MT Bold", Monaco, monospace;
		font-size: 130%;		
		text-align: left;
		padding-top: 1%;
		padding-left: 15%;
		color: gray;			
	}

/* :: Columna de la Pizarra
---------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------*/

	#seccionTres{		
		position: absolute;
		height: 80%;
		width: 58%;
		top: 20%;
		left: 22%;		
	}

	#area{
		border: 2px solid #666666;
		width: 70%;
		height: 70%;
		margin-left: 12%;
		margin-top: 7%;
		position: absolute;
	}

	#mult{
		height: 50%;
		width: 100%;		
		background-color: red;
	}	

	#division{
		height: 50%;
		width: 100%;				
		background-color: blue;		
	}
		
	#seccionTres button{
		padding: 5px 10px;
		float: right;
		position: relative;
		top: 82%;
	}			
	#seccionTres #btnVaciar{margin-right: 18%;}
	#seccionTres button:hover{background-color:gray;}

/* :: Columna de las Unidades
---------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------*/
	#seccionCuatro{		
		position: absolute;
		height: 100%;
		width: 20%;		
		left: 80%;
		background-color: gray;
		overflow-x:hidden;
	}			  	

	#vB{
		position: absolute;
		height: 100%;
		width: 0.5%;		
		left: 79.5%;
		opacity: 0.5;
		background-color: gray;
	}
	
	#columns{}	  
	#col1, #col2{
		width: 50%;
		height: 100%;		
		position: absolute;
		padding-left: 10%;
	}	
	#col1{left:0; z-index: 4;}
	#col2{right:0;}

	/* :: Social
	--------------------------------------------------------------------
	--------------------------------------------------------------------
	--------------------------------------------------------------------*/
	#facebook{
		position: fixed;
		bottom: 2%;
		left: 2%;
		width: 3.5%;
		height: 6.5%;		
		z-index: 2;
		opacity: 0.6;
		background-image: url(../img/facebookNew.jpg);
		background-size: 100% 100%;
	}	
	#facebook img{width: auto; height: auto;}
	#facebook:hover{
		background-image: url(../img/facebook.png); 
		background-size: 100% 100%;
		opacity: 1;
	}	

	#twitter{
		position: fixed;
		bottom: 2%;
		left: 6%;
		width: 3.5%;
		height: 6.5%;		
		z-index: 2;
		opacity: 0.6;
		background-image: url(../img/twitterNew.jpg);
		background-size: 100% 100%;
	}
	#twitter img{width: auto; height: auto;}
	#twitter:hover{
		background-image: url(../img/twitter.png);
		background-size: 100% 100%;
		opacity: 1;
	}	
		
	#github{
		position: fixed;
		bottom: 2%;
		left: 10%;
		width: 3.5%;
		height: 6.5%;		
		z-index: 2;
		opacity: 0.6;
		background-image: url(../img/githubNew.jpg);
		background-size: 100% 100%;
	}
	#github img{width: auto; height: auto;}
	#github:hover{
		background-image: url(../img/github.png);
		background-size: 100% 100%;
		opacity: 1;
	}	
		
	[draggable]{
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}

	.column{
		height: 75px;
		width: 75px;
		float: center;
		border: 1px solid #666666;
		background-color: white;
		color: black;
		margin-right: 5px;		
		-webkit-box-shadow: inset 0 0 3px #000;		
		box-shadow: inset 0 0 3px #000;
		text-align: center;		
		cursor: pointer;
		margin-top: 12%;
	}

	.column label{
		position: relative;
		text-shadow: #000 0 1px;
		margin-top: 17px;
		font-size: 200%;
		cursor: pointer;
	}
	
	.column footer{
		color: #fff;
		text-shadow: #000 0 1px;
		box-shadow: 5px;
		padding: 1px;
		position: relative;
		top: 11px;
		background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
		background: -webkit-gradient(linear, left bottom, right bottom,
									color-stop(0, rgb(0,0,0)),
									color-stop(0.50, rgb(79,79,79)),
									color-stop(1, rgb(21,21,21)));
		background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
		background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));				
	}

	.column.over{
		border: 2px dashed #000;
	}
	
	/*De la ficha en la pizarra*/
	#ubicacion{		
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		float: left;
		margin-left: 4%;
	}	