
html, body{
	width: 100%;
	height: 100%;
}
body{
	background-color: rgb(217, 222, 224);
	font-family: Century Gothic, sans-serif;
}

header{			
	position: absolute;
	width: 100%;
	height: 20%;		
}
header h1{		
	margin-top: 2%;
	margin-left: 2%;
	text-shadow: 0 0 0.2em gray, 0 0 0.2em gray, 0 0 0.2em black;
	font-size: 3em;
}
header label{
	margin-left: 2%;
	text-shadow: 0 0 0.2em gray, 0 0 0.2em gray;
	font-size: 1.8em;
	cursor: default;
}
header h5{
	margin-left: 2%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2em;
	color: gray;
}
header span{	
	width: auto;
	text-align: right;
	margin-left: 2%;
	font-size: 1.3em;
}

.seccionDos{
	position: fixed;
	height: 100%;
	width: 220px;
	text-align: left;
	background-color: gray;
	z-index: 10;
	top: 0;
	left: -220px;
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
	border-right: 0px solid transparent;
}
.seccionDos:hover{
	-webkit-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -o-transform: translateX(220px);
    -ms-transform: translateX(220px);
    transform: translateX(220px);
	cursor: pointer;
}
#seccionDos{		
	display: inline-block;
	width: 180px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 1.3em;
}
#seccionDos h4{
	font-family: "Arial Rounded MT Bold", Monaco, monospace;
	font-size: 150%;
	text-align: left;
	color: black;
}
#seccionDos p{
	display: block;
	font-family: "Arial Rounded MT Bold", Monaco, monospace;
	font-size: 1.2em;
	margin-top: 1%;
	margin-left: 10px;
	color: white;
	margin: 18px;
}
#seccionDos h4{margin-bottom:30px}
#hint{
	display: inline-block;
	position: absolute;
	margin-left: 20px;
	margin-top: 150%;
	font-size: 2em;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid gray;
}

#seccionTres{		
	position: absolute;
	height: 85%;
	width: 85%;
	top: 15%;
	left: 0;	
}
#area{
	width: 70%;
	height: 70%;
	margin-left: 12%;
	margin-top: 7%;
	position: absolute;
}
#mult, #division{
	height: 50%;
	width: 100%;		
	text-align: center;
	display:table;
}
#mult{
	background-color: rgb(218,158,103);
	border-left: 10px solid rgb(155,151,147);
	border-top: 10px solid rgb(155,151,147);
	border-right: 10px solid rgb(155,151,147);
	border-bottom: 1px solid rgb(155,151,147);;
}
#division{
	background-color: rgb(218,158,103);
	border-left: 10px solid rgb(155,151,147);
	border-top: 1px solid rgb(155,151,147);
	border-right: 10px solid rgb(155,151,147);
	border-bottom: 10px solid rgb(155,151,147);
}
	
#seccionTres button{
	padding: 5px 10px;
	float: right;
	position: relative;
	top: 83%;
	margin-right: 16.3%;
	cursor: pointer;
	background-color: rgb(155,151,147);
	border: none;
}				
#seccionTres button:hover{background-color: gray}

aside{		
	position: initial;
	height: 100%;
	width: 20%;
	margin-left: 80%;
	background-color: RGB(74,110,169);
	/*background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;*/
	text-align: center;
	overflow-x: auto;
}

footer{
	position: fixed;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	bottom: 5px;
}
#facebook, #twitter, #github{
	display: inline-block;
	width: 45px;
	height: 45px;
	z-index: 2;
	margin-left: 5px;
}
#facebook{margin-left: 10px}
#facebook img, #github img, #twitter img{
	width: auto; height: auto;
}
#facebook{
	background-image: url(../img/facebook.png);
	background-size: 100% 100%;
	border-radius: 25px;
}
#twitter{
	background-image: url(../img/twitter.png);
	background-size: 100% 100%;
	border-radius: 25px;
}	
#github{
	background-image: url(../img/github.png);
	background-size: 100% 100%;
	border-radius: 25px;
}
	
[draggable]{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.unit{
	display: inline-block;
	height: 73px;
	width: 73px;
	color: white;
	text-align: center;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 15px;
	z-index: 100;
	border-radius: 40px;
	background-color: rgb(72,72,72);
	border: 2px solid rgba(255,255,255,1);
}
.unit label{
	display: inline-block;
	text-shadow: #000 0 1px;
	height: 55px;
	font-size: 2.2em;
	cursor: pointer;
	margin-top: 10px;
}
.unit footer{
	position: relative;
	font-size: 0.7em;
	padding: 1px;
	height: 20px;
	margin-top: -12px;
}
.unit.over{border: 2px dashed #000}

@media only screen and (max-width : 540px){
	body{
		margin: 0;
		padding: 0;
		overflow-x: auto;
	}
	header{
		position: initial;
		display: block;
		height: auto;
	}
	header span{
		float: right;
		padding: 10px;
	}
	aside{
		position: initial;
		display: inline-block;
		margin-left: 0;
		width: 100%;
		height: auto;
        overflow-x: auto;
		overflow-y: hidden;
        vertical-align: middle;
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.unit{margin-top:0}
	section{
		position: initial;
		display: block;
	}
	#seccionDos, #seccionTres{
		position: initial;
		display: inline-block;
		width: 100%;
	}
	#seccionDos{
		width: 90%;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 5%;
		font-size: 1em;
	}
	#area{
		position: initial;
		width: 90%;
		height: 300px;
		margin-left: 3%;
	}
	#seccionTres button{
		position: initial;
		display: inline-block;
		float: right;
		margin-right: 3%;
		margin-top: 10px;
	}			
	footer{
		position: initial;
		display: block;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
