<style>
	
	[draggable]{
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}		
	  	
	  
	#col1{
		float: left;
	}
	
	#col2{
		float: right;
		margin-right: 90px;
	}
	
	#limpiar{
		height: 30px;
		width: 50px;
		position: fixed;
		margin-top: 405px;
		margin-left: 760px;
	}	
	
	#reset{
		height: 30px;
		width: 50px;
		position: fixed;
		margin-top: 405px;
		margin-left: 665px;
	}	
	
	#info{
		height: 30px;
		width: 50px;
		position: fixed;
		margin-top: 405px;
		margin-left: 300px;
	}
	
	#area{
		border: 2px solid #666666;
		text-align: center;
		color: white;
		position: fixed;
		margin-top: 30px;
		margin-left: 210px;		
	}
	
	/*El siguiente bloque de código crea el efecto de degradado en el fondo de la página.*/
	body {  
		-moz-animation-duration: 3s;  
		-moz-animation-name: bkchange; 
		-moz-animation-iteration-count: infinite;  
		-moz-animation-direction: alternate;   
		-webkit-animation-duration: 3s;  
		-webkit-animation-name: bkchange; 
		-webkit-animation-iteration-count: infinite;  
		-webkit-animation-direction: alternate;
	}
  
	body,html {      
		width:100%;
		height:100%;   
	}  
  
	@-moz-keyframes bkchange{  
		from{ background: #999;}  
		to{ background:white;}  
	} 
	
	@-webkit-keyframes bkchange{  
		from{ background: #333;}  
		to{ background:white;}  
	} 
	/*Hasta aquí.*/
	
	#mult{
		height: 175px;
		width: 500px;
		text-align: center;
		background: red;
		background-image: url(../img/mult.jpg);
	}		
	
	#division{
		height: 175px;
		width: 500px;
		text-align: center;
		background: blue;
		background-image: url(../img/div.jpg);
	}		
	
	#ubicacion{
		float: left;
		margin-left: 16px;
		margin-top: 49px;
	}	
	
	#columns{		
		width: 193px;	
	}	

	#mensaje{
		height: 50px;
	}
	
	#unidades{
		width: 100px;
		height: 30px;
		float: center;
		background: #ccc;
		text-align: right;
		padding-top: 10px;
	}
	
	.horizontal{
		height: 15px;
		width: 75px;
		float: center;		
		opacity: 1;
	}
	
	.spaces{
		height: 150px;
		width: 500px;
		float: center;
		background-color: #fff;
	}	
	
	.column{
		height: 75px;
		width: 75px;
		float: center;
		border: 1px solid #666666;
		background-color: white;
		margin-right: 5px;
		-webkit-border-radius: 10px;
		-ms-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 3px #000;
		-ms-box-shadow: inset 0 0 3px #000;
		box-shadow: inset 0 0 3px #000;
		text-align: center;
		cursor: move;
	}
	
	.column footer{
		color: #fff;
		text-shadow: #000 0 1px;
		box-shadow: 5px;
		padding: 1px;
		position: relative;
		top: 55px;
		background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
		background: -webkit-gradient(linear, left bottom, right bottom,
									color-stop(0, rgb(0,0,0)),
									color-stop(0.50, rgb(79,79,79)),
									color-stop(1, rgb(21,21,21)));
		background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
		background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));		
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-bottomleft: 10px;
		-ms-border-radius-bottomleft: 10px;
		border-bottom-left-radius: 10px;
		-webkit-border-bottom-right-radius: 10px;
		-ms-border-bottom-right-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		border-bottom-right-radius: 10px;
	}

	.column.over{
		border: 2px dashed #000;
	}	
	
</style>