
	body{
		background-image:url('../img/background.png');
	}
	
	#cabecera{			
		position: absolute;
		width: 100%;
		height: 20%;		
	}
	
	#cabecera #mensaje{
		margin-top: 1%;
		width: 100%;
		position: absolute;		
	}	
	#cabecera h1{		
		margin-top: 2%;
		margin-left: 2%;
		text-shadow: 0 0 0.2em gray, 0 0 0.2em gray, 0 0 0.2em black;
	}	
	#cabecera label{
		text-shadow: 0 0 0.2em gray, 0 0 0.2em gray;
		font-size: 60%;
	}
/* :: Columna del Contador de Unidades
---------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------*/

	#seccionUno{		
		position: absolute;
		height: 80%;
		width: 10%;
		top: 20%;
	}	

	#contadorUnidades{
		width: 60%;
		height: 5%;
		margin-top: 5%;
		padding-right: 10%;
		float: center;
		background: #ccc;
		text-align: right;
		padding-top: 10px;
		transition:width 0.5s;
		-moz-transition:width 0.5s;
		-webkit-transition:width 0.5s;			
	}

	#contadorUnidades:hover{width: 85%;}

/* :: Columna de las Unidades Restantes
---------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------*/

	#seccionDos{		
		position: absolute;
		height: 80%;
		width: 12%;
		top: 20%;
		left: 10%;
	}

	#seccionDos h4{
		font-family: "Arial Rounded MT Bold", Monaco, monospace;
		font-size: 150%;
		text-align: left;
		color: black;
	}
	
	#seccionDos p{
		font-family: "Arial Rounded MT Bold", Monaco, monospace;
		font-size: 130%;		
		text-align: left;
		padding-top: 1%;
		padding-left: 15%;
		color: gray;		
		-webkit-transform: rotate(-10deg); 	
		-moz-transform: rotate(-10deg);			
	}

/* :: Columna de la Pizarra
---------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------*/

	#seccionTres{		
		position: absolute;
		height: 80%;
		width: 58%;
		top: 20%;
		left: 22%;		
	}

	#area{
		border: 2px solid #666666;
		width: 70%;
		height: 70%;
		margin-left: 12%;
		margin-top: 7%;
		position: absolute;
	}

	#mult{
		height: 50%;
		width: 100%;		
		background-color: red;
	}	

	#division{
		height: 50%;
		width: 100%;				
		background-color: blue;		
	}
		
	#seccionTres button{
		padding: 5px 10px;
		float: right;
		position: relative;
		margin-top: 62%;
	}			
	#seccionTres #btnVaciar{margin-right: 18%;}
	#seccionTres button:hover{background-color:gray;}

/* :: Columna de las Unidades
---------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------------*/
	#seccionCuatro{		
		position: absolute;
		height: 100%;
		width: 20%;		
		left: 80%;
		background-color: gray;
	}			  	

	#vB{
		position: absolute;
		height: 100%;
		width: 0.5%;		
		left: 79.5%;
		opacity: 0.5;
		background-color: gray;
	}
	
	#columns{
		width: 100%;		
	}
	  
	#col1{
		float: left;
		margin-left: 8%;
	}

	#col2{
		float: right;
		margin-right: 19%;
	}
		

	/* :: Social
	--------------------------------------------------------------------
	--------------------------------------------------------------------
	--------------------------------------------------------------------*/
	#facebook{
		position: fixed;
		bottom: 2%;
		left: 2%;
		width: 3.5%;
		height: 6.5%;		
		z-index: 2;
		opacity: 0.6;
		background-image: url(../img/facebookNew.jpg);
		background-size: 100% 100%;
	}	
	#facebook img{width: auto; height: auto;}
	#facebook:hover{
		background-image: url(../img/facebook.png); 
		background-size: 100% 100%;
		opacity: 1;
	}	

	#twitter{
		position: fixed;
		bottom: 2%;
		left: 6%;
		width: 3.5%;
		height: 6.5%;		
		z-index: 2;
		opacity: 0.6;
		background-image: url(../img/twitterNew.jpg);
		background-size: 100% 100%;
	}
	#twitter img{width: auto; height: auto;}
	#twitter:hover{
		background-image: url(../img/twitter.png);
		background-size: 100% 100%;
		opacity: 1;
	}	
		
	#github{
		position: fixed;
		bottom: 2%;
		left: 10%;
		width: 3.5%;
		height: 6.5%;		
		z-index: 2;
		opacity: 0.6;
		background-image: url(../img/githubNew.jpg);
		background-size: 100% 100%;
	}
	#github img{width: auto; height: auto;}
	#github:hover{
		background-image: url(../img/github.png);
		background-size: 100% 100%;
		opacity: 1;
	}	
		
	[draggable]{
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}

	.horizontal{
		height: 15px;
		width: 75px;
		float: center;		
		opacity: 1;
	}

	.spaces{
		height: 150px;
		width: 500px;
		float: center;
		background-color: #fff;
	}	

	.column{
		height: 75px;
		width: 75px;
		float: center;
		border: 1px solid #666666;
		background-color: white;
		color: black;
		margin-right: 5px;		
		-webkit-box-shadow: inset 0 0 3px #000;		
		box-shadow: inset 0 0 3px #000;
		text-align: center;		
		cursor: move;
	}

	.column label{
		position: relative;
		text-shadow: #000 0 1px;
		margin-top: 17px;
		font-size: 200%;
		cursor: move;
	}
	
	.column footer{
		color: #fff;
		text-shadow: #000 0 1px;
		box-shadow: 5px;
		padding: 1px;
		position: relative;
		top: 11px;
		background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
		background: -webkit-gradient(linear, left bottom, right bottom,
									color-stop(0, rgb(0,0,0)),
									color-stop(0.50, rgb(79,79,79)),
									color-stop(1, rgb(21,21,21)));
		background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
		background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));				
	}

	.column.over{
		border: 2px dashed #000;
	}
	
	div.tooltip {
		position:relative;    
		color:#cf2c2c;
		text-decoration:none;
	}
	div.tooltip span {
		padding:5px 10px;
		background:#555;
		border:1px solid #555;
		min-width:140px;
		position:absolute;
		top:5px;
		left:5px;
		color:#FFF;
		text-align:center;
		opacity:0;
		-moz-transition: opacity 1s ease,top 1s ease;
		-webkit-transition: opacity 1s ease,top 1s ease;
		-o-transition:opacity 1s ease,top 1s ease;
		transition: opacity 1s ease,top 1s ease;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:13px;
		font-weight:bold;
	}

	div.tooltip span:before {
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #555;
		z-index:5;
		content: " ";
		position:absolute;
		top:-7px;
		left:11%;
	}

	div.tooltip span:after {
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #555;
		display:block;
		content: " ";
		position:absolute;
		top:-8px;
		left:11%;
	}
	
	div.tooltip:hover span {
		opacity:1;
		top:25px;
	}
	
	#ubicacion{
		float: left;
		margin-left: 16px;
		margin-top: 49px;
	}	